body {
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

/*.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}*/


/*Typography*/

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: #F37307;
}

/*Nav*/

nav {
  padding: 1em;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

/*Header*/

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

header img {
  width: 100%;
  max-width: 372px;
  height: auto;
}

.card  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #6f6e6d;
  background: white;
  padding: .5em;
}

.card ul {
  padding-top: .5em;
}

/*Treatments*/
.treatments {
  /*background-color: #BAB8B7;*/
}


/*Footer*/

footer {
  background-color: #488296;
}
